#title{
  margin-left:77%;
}

#title3{
  background-color: blue;
}

.pick{
  border: 7px solid black;
  border-radius: 11px;
  margin: 10%;
  padding: 30%;

}

#t{
 padding-right: -500px;
}


#hack{
  width: 100px;
  height: 56px;

}

#rd{

  background-color: blue;
}